[phases.setup]
nixPkgs = ["jdk21", "maven"]

[phases.build]
cmds = ["mvn clean package -DskipTests -DskipTests=true"]

[phases.start]
cmd = "java -Dserver.port=$PORT -Dspring.profiles.active=prod $JAVA_OPTS -jar target/invoiceme-1.0.0.jar"

